asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
pandas
lightgbm
scikit-learn
numpy
tabulate
channels
channels-redis
djoser

# Production servers
gunicorn
daphne
dj-database-url

# For health checks
requests