:root {
  --primary-color: #f5f5f9;
  --secondary-color: #f8fafc;
  --primary-dark-color: #232333;
  --secondary-dark-color: rgba(35, 35, 51, 0.8);
  --primary-dark-inactive-color: #4f4f5c;

  --btn-color: #4f46e5;
  --btn-hover-color: rgba(79, 70, 229, 0.8);

  --forecast-active-color: #ffd700;
  --forecast-inactive-color: #ffe34c;

  --warning-bg: #ffe0db;
  --warning-text: #ff3e1d;
  --success-bg: #e8f9df;
  --success-text: #71dd37;
}
