.reset-password-confirm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-color);
}

.reset-password-confirm .left-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
}

.reset-password-confirm .right-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;

  background-color: red;
}

.reset-password-confirm .left-panel img {
  height: 50%;
  width: 50%;
  object-fit: contain;

  mix-blend-mode: multiply;
}
